.card__container {
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    color: black;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative; /* Ensure that hover effects apply to the entire card */
  }
  
  .card__container img {
    padding: 10px;
    width: 100%;
    height: 200px;
    object-fit: contain;
  }
  
  .card__container .price {
    margin-top: 10px; /* Space above price */
    font-weight: bold;
  }
  
  .button {
    display: none; /* Button is hidden by default */
    padding: 5px 10px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    background-color: var(--primary-color);
    width: 100%;
    margin: 10px 0;
    border-radius: 30px;
    transition: display 0.2s ease;
  }
  
  .card__container:hover .button {
    display: block; /* Button appears when card is hovered */
  }
  
  .button:hover {
    background-color: var(--primary-shade);
  }
  
  .rating {
    display: flex;
    align-items: center;
    padding: 10px 0;
  }
  
  .Products__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    max-width: 1450px;
    margin: 100px auto 100px auto;
    gap: 50px;
    justify-items: center;
  }
  
  .Products__container section {
    margin: 0 auto;
  }
  
  .product__fixed {
    box-shadow: none;
    height: auto;
    display: flex;
    align-items: flex-start; /* Align the items at the top */
    gap: 60px; /* Small gap between the image and the content */
    width: 100%;
    justify-content: flex-start; /* Align content to the left */
    padding: 10px; /* Optional padding for spacing */
    flex-direction: row

  }
  
  .product__fixed img {
    width: 300px; /* Increase the image size */
    height: auto; /* Maintain aspect ratio */
    object-fit: contain; /* Ensure the image fits properly */
  }
  
  .product__fixed h3 {
    margin: 0;
    padding: 10px 0; /* Space around the title */
    font-size: 2rem; /* Optional: Adjust font size */
  }
  
  .product__fixed .rating {
    margin: 5px 0;
    display: flex;
    align-items: center; /* Align stars and count horizontally */
    padding-bottom: 2px;
    padding-top: 5px;
  }
  
  .product__fixed .price {
    margin: 10px 0;
    font-weight: bold;
    padding-top: 0px;
  }
  
  .product__fixed .button {
    display: block;
    width: 150px;
    margin: 10px 0 0 0; /* Optional: margin above the button */
    border-radius: 30px;
  }
  
  .product__info {
    display: flex;
    flex-direction: column; /* Stack elements vertically */
    gap: 10px; /* Space between elements */
  }
  
  .product__fixed .product__info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
  }
  
  @media screen and (max-width: 768px) {
      .product__fixed{
          display: flex;
          flex-direction: column;
      }
      
  }